@media screen and (width >= 992px) {
  .initial-image {
    width: auto;
  }

  .initial-image p {
    margin: 0;
  }

  .initial-image #first-el {
    right: 100px;
    top: 90px;
  }

  .initial-image #second-el {
    right:80px;
    top:30px;
  }

  .initial-image #third-el {
    bottom: 70px;
    left: 50px;
  }

  .initial-image #last-el {
    bottom: 80px;
    right: 60px;

  }

  .initial-image a {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    display: inline-block;
    transform: rotate(-20deg);
    margin: 0;
    color: #ff3f95;
  }

  #welcome {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 45px;
    color: white;
    padding-top: 7%;
  }

}

#index-page-bg {
  text-align: center;
  background-color: black;
  height: 100vh;
}

.slashes {
  width: 6%;
  background-color: white;
  position:relative;
  z-index: 1;
}



