/* Global variants */
:root {
  --page-left-padding: 1.5%;
}

/* !!! Setting For PC Screen
  Division refe:
  If screen is larger than 768px wide - show four images side by side
  If screen is smaller than 768px - show two images side by side
  If screens is smaller than 480px - stack the images vertically (width: 100%)
*/
@media screen and (width >= 768px) {
  
  .menu > div:nth-child(1) {
    top: 90px;
    left: 50px;
  }

  .menu > div:nth-child(2) {
    top: 40px;
    right: 150px;
  }

  .menu > div:nth-child(3) {
    bottom: 10px;
    left: 70px;
  }

  .menu > div:nth-child(4) {
    bottom: 60px;
    left: -80px;
  }
}

/* !!! General Setting */
* {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.hidden {
  display: none;
}
body {
  margin: 0;
}
.menu {
  width: auto;
}

.menu * {
  margin: 0;
}

.menu > div {
  position: relative;
}
body {
  background-color: black;
  
}
#index-page-bg {
  overflow-x: hidden;
  text-align: center;
  height: 100vh;
}
#welcome {
  margin: 0;
  font-size: 45px;
  color: white;
  padding-top: 7%;
  opacity: 0%;
  animation: fadeIn 1.5s ease-in forwards;
  user-select: none;
}

.menu a {
  font-size: 90px;
  text-decoration: none;
  display: inline-block;
  color: #ff3f95;
  z-index: 2;
}

.menu > div:nth-child(2) > a {
  color: #d10561;
}

.menu > div:nth-child(4) > a {
  color: #d10561;
}

.slashes {
  background-color: #f4b2d0;
  position: absolute;
  z-index: 0;
}



.menu > div:nth-child(1) {
  left: 80%;
  animation: flyInRight 1s ease-out forwards;
  animation-delay: 1s;
}

.menu > div:nth-child(2) {
  left: -80%;
  animation: flyInLeft 1s ease-out forwards;
  animation-delay: 1.5s;
}

.menu > div:nth-child(3) {
  left: 80%;
  animation: flyInRight 1s ease-out forwards;
  animation-delay: 1.8s;
}

.menu > div:nth-child(4) {
  left: -80%;
  animation: flyInLeft 1s ease-out forwards;
  animation-delay: 1.9s;
}

#horizontal-slash {
  left: -150%;
  width: 50%;
  height: 10vh;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  animation: flyInLeftPattern 1.5s ease-out forwards;
  animation-delay: 1.4s;
  background-image: linear-gradient(to right, #780438, #f0a1c5);  
}

.menu-li p {
  user-select: none;
}

.menu-li p:hover{
  transform: scale(1.1);
  color: rgb(240, 164, 1);
}

.menu-li p:active {
  transform: scale(0.95);
}

@keyframes flyInRight {
  from {
    left: 80%;
  }
  to {
    left: 0%;
  }
}

@keyframes flyInLeft {
  from {
    left: -80%;
  }
  to {
    left: 0;
  }
}

@keyframes flyInLeftPattern {
  from {
    left: -150%;
  }
  to {
    left: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

#slash1{
  width: 100px;
  z-index: 2;
}

.footer {
  border-top: solid 1.5px rgb(84, 83, 83);
  color: white;
  background-color: black;
  padding: 10px 0 10px var(--page-left-padding);
}
.footer p {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250; /* <weight>: Use a value from 200 to 1000 */
  font-style: normal;
  font-size: 15px;
  user-select: none;
}
