@media screen and (width >= 768px) {
  .initial-image {
    width: auto;
  }

  .initial-image p {
    margin: 0;
  }

  #first-el {
    right: 70px;
    top: 90px;
  }

  #second-el {
    right:80px;
    top:30px;
  }

  #third-el {
    bottom: 25px;
    left: 50px;
  }

  #last-el {
    bottom: 80px;
    right: 60px;

  }

  .initial-image a {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    position: relative;
    z-index: 1;
    text-decoration: none;
    display: inline-block;
    /* transform: rotate(-20deg); */
    margin: 0;
    color: #ff3f95;
  }

  #welcome {
    font-family: "Bowlby One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    font-size: 45px;
    color: white;
    padding-top: 7%;
  }

}

#index-page-bg {
  text-align: center;
  background-color: black;
  height: 100vh;
}

.slashes {
  width: 6%;
  background-color: white;
  position: absolute;
  z-index: 0;
}

/* .fade-in{
  opacity: 0; 
  animation: fadeIn 2s forwards;
}

@keyframes flyIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */

.initial-image {
  position: relative;
}

#slash1{
  width: 100px;
  z-index: 2;
}


