:root {
  --intro-font-size: 24px;
}
.page-bg {
  font-weight: 600; /* <weight>: Use a value from 200 to 1000 */
  font-size: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  height: auto;
}
#about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about-me-content h1,h2 {
  user-select: none;
  margin: 10px 0;
}
#about-me-content h1 {
  font-size: 50px;
}
.page-bg * {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}

.btn-group { 
  display: inline-flex;
  margin-left: 1.5%;
  margin-top: 8px;
}
.btn-group > button {
  font-weight: 300; /* <weight>: Use a value from 200 to 1000 */
  padding: 1px 15px;
  background-color: black;
  color: white;
  border-color: white;
  border-width: 2px;
}
.btn-group > button:nth-child(1) {
  font-size: 20px;
  border-top-left-radius: 0.38em;
  border-bottom-left-radius: 0.38em;
}
.btn-group > button:last-child {
  font-size: 20px;
  border-top-right-radius: 0.38em;
  border-bottom-right-radius: 0.38em;
}
.btn-group button.btn-highlight {
  background-color: white;
  color: #ff3f95;
  font-weight: 700;
}
.btn-group button.default-btn:hover {
  background-color: rgb(227, 226, 226);
  color: #ff3f95;
}
.navbar {
  padding: 20px 0 15px 0;
  display: flex;
  justify-content: space-between;
  /* background: linear-gradient(to bottom, rgb(41, 40, 40), 80%, black); */
  background-color: black;
  /* background-color: rgb(41, 40, 40); */
  border-bottom: solid 1.5px rgb(84, 83, 83);
  /* background-color: rgba(166, 164, 161, 0.702); */
}
.navbar a {
  color: #ff3f95;
}
.navbar-name {
  font-family: "Bowlby One SC", sans-serif;
  padding-left: var(--page-left-padding);
  font-size: 35px;
}
.navbar-items-col {
  padding-right: 3%;
  display: flex;
  column-gap: 35px;
  Align-items: center;
}
.navbar-items-col a {
  font-weight: 600;
}
.navbar a:not(.nav-item-highlight):hover {
  animation: navItemColorChange 0.15s ease-out forwards;

}
a {
  text-decoration: none;
}
@keyframes navItemColorChange {
  to {
    color: #ffffff;
  }
}
.nav-item-highlight {
  text-decoration: underline;
  pointer-events: none;
  cursor: default;
  color: white !important;
  font-weight: 700 !important;
  
}

/* For special features*/
.carousel.works {
  margin-top: 12px;
  position: relative;
  width: 700px;
  height: auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
}
.carousel-track a {
  display: block;
}
.carousel.works img {
  width: 700px;
  height: auto;
  object-fit: cover;
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(58, 57, 57, 0.7);
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 5px;
}

button.prev { left: 10px; }
button.next { right: 10px; }

.zoom-in {
  cursor: zoom-in;
}

/* Interest page */
.interests-list {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interest {
  padding: 2% 1.5%;
  width: 90%;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
}
.interest img {
  border-radius: 0.5rem;
}
#interest-game {
  height: 400px;
}
#interest-game img{
  width: 15%;
}
.interest p{
  margin: 0;
}
span.text-highlight {
  color: #ff3f95;
  font-weight: 700;
}
.interests-list h2 {
  display: block;
  font-weight: 700;
  color: #ff3f95;
  margin: 2% 0 0 0;
}
#about-me-profile {
  margin-top: 5%;
  margin-bottom: 2%;
  width: 15%;
  border-radius: 0.5rem;
  align-self: center;
  
}
.link {
  color: rgb(96, 159, 231); text-decoration: underline;
}
.row-showcase {
  display: flex;
  flex-wrap: wrap;
  margin: 120px 30px 10px;
  width: 85%;
  gap: 15px;
  justify-content: space-between;

}
.showcase-title {
  color: #ff3f95;
  border-left: 10px solid #ff3f95;
  padding-left: 10px;
}
.showcase-ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.showcase-p {
  margin: 0;
  font-size: 24px;
}
#about-me-intro {
  padding-bottom: 50px;
  border-bottom: 2px solid #5e5e5e;
}
