* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}
.page-bg {
  font-weight: 600; /* <weight>: Use a value from 200 to 1000 */
  font-size: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.btn-group { 
  display: inline-flex;
  margin-left: 1.5%;
  
}
.btn-group > button {
  font-weight: 300; /* <weight>: Use a value from 200 to 1000 */
  padding: 1px 15px;
  background-color: black;
  color: white;
  border-color: white;
  border-width: 2px;
}
.btn-group > button:nth-child(1) {
  font-size: 20px;
  border-top-left-radius: 0.38em;
  border-bottom-left-radius: 0.38em;
}
.btn-group > button:last-child {
  font-size: 20px;
  border-top-right-radius: 0.38em;
  border-bottom-right-radius: 0.38em;
}
.btn-group button.btn-highlight {
  background-color: white;
  color: black;
  font-weight: 700;
}
.btn-group button.default-btn:hover {
  background-color: rgb(221, 221, 221);
  color: black;
}
.navbar {
  padding: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  background-color: rgba(220, 220, 220, 0.702);
  /* background-color: rgba(166, 164, 161, 0.702); */
}
.navbar a {
  color: black;
}
.navbar-name {
  padding-left: var(--page-left-padding);
  font-weight: 800;
}
.navbar-items-col {
  padding-right: 3%;
  display: flex;
  column-gap: 35px;
}
.navbar a:not(.nav-item-highlight):hover {
  animation: navItemColorChange 0.15s ease-out forwards;

}
a {
  text-decoration: none;
}
@keyframes navItemColorChange {
  to {
    color: rgb(245, 251, 128);
  }
}
.nav-item-highlight {
  text-decoration: underline;
  pointer-events: none;
  cursor: default;
}