* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
}
.page-bg {
  font-weight: 600; /* <weight>: Use a value from 200 to 1000 */
  font-size: 28px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
  height: auto;
}

.btn-group { 
  display: inline-flex;
  margin-left: 1.5%;
  margin-top: 8px;
}
.btn-group > button {
  font-weight: 300; /* <weight>: Use a value from 200 to 1000 */
  padding: 1px 15px;
  background-color: black;
  color: white;
  border-color: white;
  border-width: 2px;
}
.btn-group > button:nth-child(1) {
  font-size: 20px;
  border-top-left-radius: 0.38em;
  border-bottom-left-radius: 0.38em;
}
.btn-group > button:last-child {
  font-size: 20px;
  border-top-right-radius: 0.38em;
  border-bottom-right-radius: 0.38em;
}
.btn-group button.btn-highlight {
  background-color: white;
  color: black;
  font-weight: 700;
}
.btn-group button.default-btn:hover {
  background-color: rgb(221, 221, 221);
  color: black;
}
.navbar {
  padding: 20px 0 15px 0;
  display: flex;
  justify-content: space-between;
  background-color: rgba(142, 138, 138, 0.702);
  /* background-color: rgba(166, 164, 161, 0.702); */
}
.navbar a {
  color: black;
}
.navbar-name {
  font-family: "Bowlby One SC", sans-serif;
  padding-left: var(--page-left-padding);
  font-size: 35px;
}
.navbar-items-col {
  padding-right: 3%;
  display: flex;
  column-gap: 35px;
  Align-items: center;
}
.navbar-items-col a {
  font-weight: 600;
}
.navbar a:not(.nav-item-highlight):hover {
  animation: navItemColorChange 0.15s ease-out forwards;

}
a {
  text-decoration: none;
}
@keyframes navItemColorChange {
  to {
    color: #ff3f95;
  }
}
.nav-item-highlight {
  text-decoration: underline;
  pointer-events: none;
  cursor: default;
}
.footer > p {
  user-select: none;
}
/* For special features*/
.carousel.works {
  margin-top: 12px;
  position: relative;
  width: 700px;
  height: auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
}
.carousel-track a {
  display: block;
}
.carousel.works img {
  width: 700px;
  height: auto;
  object-fit: cover;
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(58, 57, 57, 0.7);
  border: none;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 22px;
  border-radius: 5px;
}

button.prev { left: 10px; }
button.next { right: 10px; }

.zoom-in {
  cursor: zoom-in;
}