:root {
  --illu-info-font-size: 24px;
}
.hide {
  display: none !important;
}
/* Coding */
div.projects.coding {
  padding-left: 23%; 
  margin-top: 15px;
}
.helper {
  font-size: 18px;
  margin: 0;
}
.game-window {
  display: flex;
  width: 70%;
  height: 30%;
}
.game-title * {
  color: #ff3f95;
}
.game-canvas {
  border: 1px solid #ffffff;
  border-radius: 0.5rem;
  margin-top: 12px;
  overflow: hidden;
  height: auto;
  width: 700px;
}
.carousel.works {
  border-radius: 0.5rem;
}
.opeBtn {
  background-color: black;
  border: 1px solid white;
  font-size: xx-large;
  padding: 5px 15px;
  color: #ff3f95;
}
.opeBtn:hover {
  background-color: white;
  border: 1px solid black;
  color: black;
}
.screen-and-info {
  display: flex;
  gap: 20px;
}
.hud {
  margin-top: 15px;
  border: 2px solid rgb(52, 52, 52);
  padding: 5px 30px 80px 10px;
  border-radius: 0.5rem;
}
.game-control-btn {
  display: flex;
  justify-content: space-between;
}
.game-control-btn button {
  border-radius: 0.5rem;
}
.info {
  margin-top: 12px;
  width: 21%;
}
.intro-for-game {
  margin-top: 12px;
  font-size: 24px;
}
.intro {
  font-size: 24px;
}
.game-header div, .hud div {
  user-select: none;
}
.stat {
  font-weight: 600;
  font-size: 20px;
  
}
.stat span {
  font-weight: 300;
}
.mid-ele {
  margin-top: 70px;
}
.last-ele {
  margin-top: 70px;
  margin-bottom: 50px;
}


/* Illustrations */

div.projects.illustrations {
  padding: 0 10%;
  margin-top: 5px;
  display: grid;
  Grid-template-columns: 1fr 1fr;
  column-gap: 200px;
}
.wrapper {
  position: relative;
  height: 300px;
  width: 600px;
  margin: 50px 0;
  
  display: flex;
  flex-direction: row;
  
  transition: all 200ms ease-in-out;
}
.image-wrapper {
  height: 300px;
  width: 450px;
  overflow: hidden;
  border-radius: 0.5rem;
  cursor: pointer;

  transition: all 200ms ease-in-out;
}
.image-wrapper img {
  height: 300px;
  width: 450px;
  object-fit: cover;
  object-position: top;
  
  transition: all 200ms ease-in-out;
}
#sketches {
  object-position: center;
}
.see-project-hint {
  color: #ff3f95 !important;
}
.book-design-image {
  object-position: center;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 300px;
  width: 300px;
  left: 380px;
  transition: all 200ms ease-in-out;
  overflow: hidden;
}
.header-wrapper h1 {
  position: relative;
  bottom: 0;
  height: 300px;
  color: #fff;
  font-size: 60px; /* original: 80px*/
  font-family: "Bowlby One SC", sans-serif;
  text-transform: uppercase;
  user-select: none;
  transition: all 200ms ease-in-out;
}
.wrapper:hover img {
  transform: scale(2);
  /*object-position: bottom;*/
}
.wrapper:hover h1 {
  bottom: 300px;
  transform: scale(.4);
}
.wrapper:hover .image-wrapper {
  width: 800px;
}
/* Individual illustration project*/
.in-project {
  margin-left: 3%;
}
.in-project-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px 0;
  padding: 0 15%;
}
#home-deco-body {
  padding: 0 5%;
}
.in-project-body h2 {
  font-size: 50px;
  font-weight: 700;
  margin: 0;
}
.in-project-body p {
  margin: 0;
  font-size: var(--illu-info-font-size);
  align-self: center;
}
.in-project *:not(h2, p) {
  color: #ff3f95;
}
.project-pics {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  margin: 50px 0 5px 0;
}
.stickers.project-pics {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.stickers.project-pics img {
  width: 110%;
}
.project-pics.various-sizes {
  display: grid;
  width: 80%;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
}
.project-pics.various-sizes img{
  width: 300px;
  height: auto;
  
}
.project-pics.tall-pics {
  justify-content: space-evenly;
}
.project-pics.long-pics img {
  width: 800px;
  height: auto;
}
.project-pics.tall-pics img {
  width: 300px;
  height: auto;
}
.project-pics img {
  width: 550px;
  height: auto;
}
.maso-flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}
.maso-flow {
  margin: 0 10px;
}
.maso-wrapper {
  max-width: 110rem;
  margin-inline: auto;
  padding-inline: var(--gutter);
  margin-top: 50px;
}
.masonry {
  --gutter: 0.25em;
  --flow-space: var(--gutter);
  --switcher-target-container-width: 25rem;
}
.masonry img {
  width: 100%;
}
.maso-switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, 1em);
  align-items: var(--switcher-vertical-alignment, flex-start);
}
.maso-switcher > * {
  flex-grow: 1;
  flex-basis: calc(
    (var(--switcher-target-container-width, 40rem) - 100%) * 999
  );
}
#home-deco {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}
#home-deco > img {
  width: 200px;
}
#home-deco > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
}
#home-deco > div > img {
  width: 1000px;
}

